<header>
  <ul>
    <li> <a class="link-btn" href="/">Home logo</a> </li>
    <li>
      <a class="link-btn" href="/access/log-in">log in</a>
      <a class="link-btn" href="/access/sign-up">sign up</a>
    </li>
  </ul>
</header>